/* SCROLL */
::-webkit-scrollbar { width: 20px; }
/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color: #f0f0f0; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #1697bf, #62b7ac);
}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }
/* 위 아래 버튼 (버튼 없애기를 함) */

html, body, .wrap {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.wrap {
    min-width: 700px;

}

.header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
}

.main_logo, .side_area {
    width: 15%;
    float: left;
}

.side_area {
    height: 85%;
    float: left;
    background: #d1d1d1;
}


.content {
    float: left;
    width: 85%;
    height: 85%;
    /*padding: 5%*/;
    background: gray;
    overflow: auto;
}

.main_content {
    width: 90%;
    height: 90%;
    padding: 5%;
    background: #62b7ac;
}

.footer {
    width: 100%;
    height: 10%;
    float: left;
    display: flex;
    text-align: center;
    background: rebeccapurple;
}

.blog_info {
    width: 100%;
    height: 100%;
}

.main_logo {
    height: 100%;
    line-height: 37.5px;
    background: cornflowerblue;
    text-align: center;
}

.anonymous {
    width: 100%;
    height: 100%;
}
.info_area {
    width: 100%;
    height: 70px;
    border-bottom: black 1px solid;
}
.btn_login, .btn_register {
    float: left;
    width: 50%;
    height: 100%;
}
.sub_menu_list {
    width: 100%;
    height: 90%;
    overflow: auto;
}


.main_menu_list {
    width: 85%;
    height: 100%;
    background: gray;
    color: white;
    float: left;
    overflow: auto;
}


.main_menu_list ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /*width: 100%;
    height: 100%;*/
}

.main_menu_list ul li {
    display: inline;
    padding: 0px 30px;
    line-height: 37.5px;
}

.btn_login a, .btn_register a {
    line-height: 50px;
    text-decoration: none;
}

.menu_list_txt {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.depth_one {
    padding-left: 10px;
}

.depth_two {
    padding-left: 15px;
}

.depth_three {
    padding-left: 20px;
}

.depth_one p {
    margin: 5px 0px;
}

.depth_one_txt {
    font-size: 20px;
    font-weight: bold;
}

.anonymous, .info_area {
    text-align: center;
}

.search_area, .content_area {
    width: 100%;
}

.search_frame {
    width: 100%;
}